<html>

<head>
    <title>Love Calculator</title>
</head>

<body>
    <form action="/<%= uid %>" method="POST">
        <input type="text" name="name" id="name" required>
        <input type="text" name="crushname" id="crushname" required>
        <button type="submit">Calculate</button>
    </form>
</body>

</html>