<html>

<head>
    <title>Love Calculator</title>
</head>

<body>
    <div class="err">
        Your Custom Link is
    </div>
    <a href="<%= user %>"><%= user %></a>
    <div>
        Share with your friends!
    </div>
</body>

</html>