<html>

<head>
    <title>Love Calculator</title>
</head>

<body>
    <div class="message">
        <%= message %>
    </div>
    <form action="/" method="POST">
        <input type="email" name="email" id="email" required>
        <button type="submit">Submit</button>
    </form>
    <div class="error">
        <%= error %>
    </div>
</body>

</html>