<html>

<head>
    <title>Love Calculator - Result</title>
</head>

<body>
    <div>
        <%= name %>
    </div>
    <div>
        <%= crushname %>
    </div>
    <div>
        <%= value %>
    </div>
</body>

</html>